{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
        <p>You input wrong username or password! Please, try again.</p>
    {% else %}
        <p>Fill in the form to login:</p>
    {% endif %}

    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Login"></p>
        </form>
        <p><a href="{% url 'password_reset' %}">Forgot a password?</a></p>
    </div>
{% endblock content %}