{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
        <p>You input wrong username or password! Please, try again.</p>
    {% else %}
        <p>Fill in the form to login:</p>
    {% endif %}

    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Login"></p>
        </form>

        <p>If you don't have an account, you can register <a href="{% url 'registration' %}">here</a>.</p>
        <p><a href="{% url 'password_reset' %}">Forgot a password?</a></p>
    </div>

    <div class="social">
        <ul>
            <li class="google">
                <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
            </li>
        </ul>
    </div>
{% endblock content %}