{% load thumbnail %}

{% with user=action.user profile=action.user.profile %}
<div class="action">
    <div class="images">
        {% if profile.photo %}
            {% thumbnail user.profile.photo "80x80" crop="100%" as image %}
            <a href="{{ user.get_absolute_url }}">
                <img src="{{ image.url }}" alt="{{ image.get_full_name }}" class="item-img">
            </a>
            {% endthumbnail %}
        {% endif %}
        {% if action.target %}
            {% with target=action.target %}
                {% if target.image %}
                    {% thumbnail target.image "80x80" crop="100%" as image %}
                        <a href="{{ target.get_absolute_url }}">
                            <img src="{{ image.url }}" class="item-img">
                        </a>
                    {% endthumbnail %}
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>
    <div class="info">
        <p>
            <span class="date">{{ action.time|timesince }} ago</span><br>
            <a href="{{ user.get_absolute_url }}">{{ user.first_name }}</a>
            {{ action.act }}
            {% if action.target %}
                {% with target=action.target %}
                    <a href="{{ target.get_absolute_url }}">{{ target }}</a>
                {% endwith %}
            {% endif %}
        </p>
    </div>
</div>
{% endwith %}